* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    text-decoration: none;
    color: #373f3d;
}

.navbar{
    padding: 10px 50px;
    background: #E0E1DF;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.navbar_header ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-bottom: 40px;
}

.navbar_logo{
    grid-row: span 2;
}

.navbar_collections{
    grid-row: span 2;
    grid-column: span 2;
}

.navbar_link{
    grid-row: 1;
}

a:link, a:visited, a:active
{
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: #373f3d;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.home_slides {
    display: flex;

    align-items: center;
    justify-content: center;

}

.sale_content{
    display: grid;

    position: absolute;
    
}

.home_slides h1{
    justify-self: center;
    margin-bottom: 20px;
    font-family: Louize Display,Garamond,serif;
    font-weight: 400;   
    font-size: 80px;
    line-height: 80px;
}

.home_slides a{
    justify-self: center;
    font-size: 16px;
    border-radius: 2px;
    padding: 9px 20px 7px;
    color: #373f3d;
    border: 2px solid rgba(55,63,61,.2);
}

.home_slides img{
    object-fit:cover; 

    height: 100%;
    width: 100%;
} 

.flavor_grid{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
}

.flavor_grid ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.flavor_grid ul li{
    text-align: center;
    position: relative;
    
}

.flavor_grid img{
    width: 100%;
}

.shop_now{
    margin-left: auto;
    margin-right: auto;
}

.shop_now a{
    display: block;
    color: white;
    height: 0;
    padding-bottom: 133.33333%;
    background-position: 50%;
    
}

.shop_now h2:hover{
    text-decoration: none;
}

.shop_now ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shop_now ul li{
    text-align: center;
    
    display: inline-block;

    position: relative;

    padding-left: 20px;
    padding-right: 20px;
}

.email_form{
    margin: 40px;
}

.about {
    margin: 40px;
}

.about p {
    text-align: center;
}

.description_text{
    opacity: .5;
}

.links{
    padding-left: 40px;
    padding-right: 40px;
}

.links ul{
    list-style: none;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links li{
    text-align: left;
    
    display: inline-block;

    position: relative;

}

.copyright{
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright p{
    text-align: center;
    opacity: .5;
}

@media (max-width: 600){

    /*
    
    
    */

}

@media (max-width: 800){
    
}

@media (max-width: 1000){
    
}
