* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    text-decoration: none;
    color: #373f3d;
}

.navbar{
    padding: 10px 50px;
    background: #E0E1DF;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.navbar_header{
    position: absolute;
    top: 0;
    margin-top: 40px;
    padding: 0 250px;
    border-collapse: collapse;
}

.navbar_header ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    margin-bottom: 40px;
    
}
.navbar_header li{
    border: 1px solid rgba(55,63,61,.2);
}

.navbar_logo{
    display: flex;

    grid-row: span 2;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.navbar_logo svg{
    width: 100%;
    /*height: 60px;*/
}

.navbar_collections{
    grid-row: span 2;
    grid-column: span 2;
    padding: 10px;
}

a:link, a:visited, a:active
{
    font-family: GT Pressura Mono,Roboto Mono,monospace;
    color: #373f3d;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.collection_flex{
    display:flex;
    opacity: .3;
    transition: opacity .2s ease;
}

.collection_flex.active{
    opacity: 1;
    
}

.collection_dots{
    width: 100%;
    overflow: hidden;
}

.navbar_links{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.navbar_links a{
    font-size: 16px;
    color: #373f3d;
}

.home_slides {
    display: flex;

    align-items: center;
    justify-content: center;

}



.sale_content{
    display: grid;

    position: absolute;

    transition: opacity .2s ease;
    opacity: 0;
    
}

.sale_content.active{
    opacity: 1;
}

.sale_content a{
    border: 2px solid rgba(55,63,61,.2);
    justify-self: center;
    padding: 9px 20px 7px;
}

.home_slides{
    position: relative;
    height: 100vh;
}

.home_slides h1{
    justify-self: center;
    margin-bottom: 20px;
    font-family: Louize Display,Garamond,serif;
    font-weight: 400;   
    font-size: 80px;
    line-height: 80px;
}

.home_slides img{
    object-fit:cover; 
    height: 100%;
    width: 100%;
} 



.background_slides{
    position: absolute;
    display: block;
    background-size: cover;
    background-position: 50%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    
    
    transition: opacity .4s ease;
    opacity: 0;
}

.background_slides.active{
    opacity: 1;
}

.flavor_grid{
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.flavor_grid ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.flavor_grid ul li{
    text-align: center;
    position: relative;
    
}

.flavor_grid img{
    width: 100%;
}

.shop_now{
    
    max-width: 1440px;
    /*
    padding-left: 40px;
    padding-right: 40px;
    */
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.shop_now a{
    background-size: cover;
    display: block;
    color: white;
    height: 0;
    padding-bottom: 133.33333%;
    background-position: 50%;
    
}

.shop_now h2:hover{
    text-decoration: none;
}

.shop_now ul{
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.shop_now ul li{
    text-align: center;
    
    display: inline-block;

    position: relative;

    padding-left: 20px;
    padding-right: 20px;
}
/*
.shop_now_text{
    display: flex;
    align-items: center;
}*/

.email_form{
    max-width: 1440px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;

    /*margin: auto;
    padding: 20px 0;
    width: 80%;*/
    text-align: center;
    /*background: whitesmoke;*/
    
}

.email_form button{
    width: 100%;
    border-radius: 2px;
    padding: 9px 20px 7px;
    color: #373f3d;
    border: 2px solid rgba(55,63,61,.2);
    
}

.about {
    margin: 40px;
}

.about p {
    text-align: center;
}

.description_text{
    opacity: .5;
}

.links{
    max-width: 1440px;
    
    padding-left: 40px;
    padding-right: 40px;

    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.links ul{
    list-style: none;

    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.links li{
    text-align: left;
    
    display: inline-block;

    position: relative;

}

.copyright{
    margin-top: 50px;
    margin-bottom: 50px;
}

.copyright p{
    text-align: center;
    opacity: .5;
}

@media (max-width: 600px){

    

}

@media (max-width: 800px){
    
}

@media (max-width: 1000px){ /*801px - 1000px*/
    .home_slides h1{
        font-size: 40px;
        line-height: 48px;
    }
}