* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#E0E1DF;
    padding: 50px;
}

#main{
    color:#53624E
}

.navbar{
    padding: 10px 50px;
    position: fixed;
    background:#E0E1DF;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.tree{
    margin-left: auto;
    margin-right: auto;
}

.heading{
    margin-top: 110px;
    font-size: 70px;
    text-transform: uppercase;
    text-align: center;  
    border-bottom: 1px solid #53624E; 
    color: #53624E;
    margin-bottom: 40px;
}

.heading div{
    border-top:1px solid #53624E;
    padding: 20px;
}

.heading div span{
    text-transform: lowercase;
    font-style: italic;
}

.reserve_button,
.reservations{
    font-size: 14px;
}

.reserve_button{
    text-transform: uppercase;
    color: #E0E1DF;
    background: #53624E;
    padding: 20px 30px;
    display: inline-block;
    border: 1px solid #53624E;
}

.reservations ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.reservations ul li{
    padding:30px;
    border: 1px solid #53624E;
    text-align: center;
    position: relative;
}

.calendar{
    display: none;
    background: red;
    position: absolute;
    height: 100px;
    bottom: -100px;
    left: 0;
    width: 200%;
    z-index: 1;
}

img{
    width: 100%;
}